.listPokemons {
  margin-top: 24px;
  margin-bottom: 24px;
  list-style: none;
  padding: 0;
  display: grid;
  grid-row-gap: 50px;
  grid-column-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: 200px;
}

.containerButton {
  display: flex;
  margin-top: 80px;
  justify-content: center;
}

.containerButton > a:first-child {
  margin-right: 16px;
}
